.articles, .categories {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    flex: 3 0px;
    width: 90%;
    margin-bottom: 20px;
    padding: 0;
}
.text_post {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 55%;
}
.text_post h4 {
    margin-top: auto;
}
.text_post h2 {
    padding-top: 0;
    margin-top: 0;
}
.post__edit {
    display: flex;
    justify-content: space-between;
}
.post {
    height: 445px;
}
.post, .category  {
    margin: 10px;
    list-style: none;
    width: 30%;
    box-shadow:0 20px 20px rgba(0,0,0,.08);
    transition: .6s ease;
}
.category {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    text-align: center;
    min-height: 15vh;
}
.category h2 {
    color: white;
}
.post_edit {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(0,0,0,0.7);
    transition: .4s ease;
}
.post_edit a {
    padding: 10px;
    margin: 0 20px;
    color: white;
}
.category:hover .post_edit {
    bottom: 0;
}
.post_edit a:hover {
    color: white;
}
.post h2 {
    text-transform: capitalize;
}
.post:hover {
    transform: scale(1.03);
}
a{
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
hr {
    padding: 0;
    margin: 10px 0;
}
.container_picture {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    overflow: hidden;
}
.profil_picture {
    height: 30px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-shadow:0 20px 20px rgba(0,0,0,.08);
    margin-left: 1vw
}
.profil_picture_post {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5vh;
}
.profil {
    color: blue;
}
.header_post {
    width: 100%;
    height: 20vh;
    margin-bottom: 20px;
}
.header_post h1 {
    text-align: center;
    color: white;
    line-height: 20vh;
    margin: 0;
    padding:0;
}
.navbar {
    margin-bottom: 0;
}
.card-body {
    width: 100%;
}
.card button {
    border: none;
    background: royalblue;
    border-radius: 10px;
    color: white;
    align-self: flex-end;
}
.comments_list {
    margin-bottom: 9vh;
}
.features {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding: 2px 5px;
    right: -2%;
    bottom: -100%;
}
.editContent {
    width: 100%;
    border: none;
}
.content{
    padding-left: 1vw;
}
.success{
    display: none;
    position: fixed;
    width: 20%;
    margin-left: 20%;
    top: 9vh;
    background: white;
    border-radius: 5px;
    min-height: 9vh;
    text-align: center;
    transition: .6s;
    /* animation: fadeInDown 2s; */
}
.success p {
    padding-top: 20px;
}
.success::after{
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: black;
    top: -20px;
}
#time {
    text-align: center;
    font-size: 10em;
}
.profil_post{
    display: inline-block;
    margin-left: 10px;
}
.answer{
    display: flex;
    flex-direction: column;
}
.ulAnswer{
    padding: 0;
}
.answer__content {
    width: 85%;
}
.answer{
    display: flex;
    flex-direction: row;
    background: rgba(0,0,0,0.1);
    min-height: 90px;
}
.answer__infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
.answer__content {
    margin-left: 30px;
    margin-top: 30px;
}
.dropdown {
    max-height: 43px;
}
.forum {
    display: flex;
    flex-direction: column;
}
#category{
    overflow: hidden;
}

.cat{
    width: 90%;
    transition: all .3s ease;
}

.cat__hide{
    min-height: 0;
    height: 0;
    transition: all .3s ease;
}

.cat__content{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cat__item {
    font-size: 2em;
}

.cat__item:hover {
    text-decoration: underline;
}

@keyframes fadeInDown{
    from{
        opacity: 0;
        transform: translate3d(-50%, -100%, 0);
    }
    to{
        opacity: 0;
        transform: translate3d(-50%, -100%, 0);
    }
}

.fa-times:hover, .fa-edit:hover{
    color: grey;
}