{% extends 'base.html.twig' %}
{% block title %}Messages{% endblock %}
{% block body %}
    <h1>Salons</h1>

    <ul>
        {% for user in users %}
            <li>
            {% if user.room %}
                <a href="{{ path('room_show', {'id' : user.room.id}) }}">{{ user.username }}</a>
            {% else %}
                <a href="">{{ user.username }}</a>
            {% endif %}
            </li>
        {% else %}
            <li>Vous n'avez aucun amis !</li>
        {% endfor %}
    </ul>

    <a href="{{ path('room_new') }}"><button class="btn btn-primary">{% trans %}crud.add{% endtrans %}</button></a>
{% endblock %}