{% extends 'base.html.twig' %}
{% block title %}Messages{% endblock %}
{% block body %}
    <h1>Salons</h1>

    <ul>
        {% for key, room in rooms %}
            <a href="{{ path('room_show', {'id' : key}) }}"><li>{{room}}</li></a>
        {% else %}
            <li>Vous n'avez aucun message !</li>
        {% endfor %}

        {% for user in users %}
            <li>{{ user.username }}</li>
        {% else %}
            <li>Vous n'avez aucun amis !</li>
        {% endfor %}
    </ul>

    <a href="{{ path('room_new') }}"><button class="btn btn-primary">{% trans %}crud.add{% endtrans %}</button></a>
{% endblock %}