{% extends 'base.html.twig' %}
{% block title %}Messages{% endblock %}
{% block body %}
    <h1>Messages</h1>

    <ul>
        {% for room in rooms %}
            <a href="{{ path('room_show', {'id' : room.id}) }}"><li>{{ room.title }}</li></a>
        {% else %}
            <li>Vous n'avez aucun message !</li>
        {% endfor %}
    </ul>

    <a href="{{ path('room_new') }}"><button class="btn btn-primary">{% trans %}crud.add{% endtrans %}</button></a>
{% endblock %}