{% extends 'base.html.twig' %}
{% block title %}Messages{% endblock %}
{% block body %}
    <h1>Salons</h1>

    <ul>
        {% for user in users %}
            <li>{{ user.username }}{% if user.room %}{{ user.room.title }}{% else %} <a href="#">Envoyer un message</a> {% endif %}</li>
        {% else %}
            <li>Vous n'avez aucun amis !</li>
        {% endfor %}
    </ul>

    <a href="{{ path('room_new') }}"><button class="btn btn-primary">{% trans %}crud.add{% endtrans %}</button></a>
{% endblock %}