{% extends 'base.html.twig' %}

{% block body %}
    <ul id="messages__list">
        {% for message in messages %}
            {% if message.sender.id == app.user.id %}
                <li class="messages__list_content messages__list_sender">{{ message.content }}</li>
            {% else %}
                <li class="messages__list_content messages__list_recipient">
                    <img src="{{ message.sender.image }}" alt="{{ message.sender.username }}">
                    <p class="messages__text_recipient">{{ message.content }}</p>
                </li>
            {% endif %}
        {% else %}
            <li class="messages__list_error">Commencez par écrire votre premier message !</li>
        {% endfor %}
    </ul>
{% endblock %}