{% extends 'base.html.twig' %}

{% block title %}{{ room.title }}{% endblock %}

{% block body %}
    <h1 class="text-center">{{ room.title }}</h1>

    <button>Create message</button>

    {#{{ include('room/_delete_form.html.twig') }}#}
{% endblock %}