{% extends 'layout/layout.html.twig' %}
{% block body %}
  <ul>
    {% for user in users  %}
      <li>{{ user.username }}</li>
      <a href="{{ path('remove_user', {'id' : user.id})}}"> <button type="button" name="button" class="btn btn-danger">Delete</button></a>
    {% endfor %}
  </ul>
{% endblock %}
