{% extends 'layout/layout.html.twig' %}
{% block title %}Message envoyé par {{ contact.firstname }}{% endblock %}
{% block section %}
  <p>{{ contact.firstname }}</p>
  <p>{{ contact.message }}</p>
{% endblock %}
