{% extends 'base.html.twig' %}
{% block body %}
  <ul>
    {% for contact in contacts %}
        <a href="{{ path('show_contact', {id: contact.id}) }}"><li>{{ contact.firstname }}</li></a>
        <button type="button" name="btn btn-danger">Supprimer</button>
    {% endfor %}
  </ul>

{% endblock %}
